/ThirdHomework21.09.21/Search/.vs
/ThirdHomework21.09.21/SmartQSort/.vs
/ThirdHomework21.09.21/Trend/.vs
/SecondHomework14.09.21/BubbleAndCountingSorts/.vs
/SecondHomework14.09.21/Exponentiation/.vs
/SecondHomework14.09.21/Fibonacci/.vs
/SecondHomework14.09.21/HalfQSort/.vs
/FirstHomework09.09.21/AdditionalTasks/FifthAdditionalTask/.vs
/FirstHomework09.09.21/AdditionalTasks/FourthAdditionalTask/.vs
/FirstHomework09.09.21/AdditionalTasks/SecondAdditionalTask/.vs
/FirstHomework09.09.21/AdditionalTasks/SixthAdditionalTask/.vs
/FirstHomework09.09.21/AdditionalTasks/ThirdAdditionalTask/.vs
/FirstHomework09.09.21/TasksFromTest/FirstTask/.vs
/FirstHomework09.09.21/TasksFromTest/FourthTask/.vs
/FirstHomework09.09.21/TasksFromTest/SecondTask/.vs
/FirstHomework09.09.21/TasksFromTest/ThirdTask/.vs
/ThirdHomework21.09.21/SmartQSort/Debug
